{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    <div class="container mt-2 mb-2">
        {{ render(controller('App\\Controller\\RenderController::getHeader')) }}
    </div>
    <div class="mainTitle">
        <div class="container">
            <h1>{{ 'login.mainTitle' | trans }}</h1>
        </div>
    </div>
    <div class="container mt-5">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{ path('_login.default') }}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="_password" class="form-control">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-success">Se connecter</button>
        </form>
    </div>
{% endblock %}