{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    <div class="container mb-2 mt-2">
        {{ render(controller('App\\Controller\\Front\\RenderController::getHeader')) }}
    </div>
    {{ render(controller('App\\Controller\\Front\\RenderController::getSlider')) }}

    <div class="container pt-2" id="front-custom">
        {% include 'parts/home/form.html.twig' %}
        {% include 'parts/home/activities.html.twig' %}
    </div>
    {{ render(controller('App\\Controller\\Front\\RenderController::getBottom')) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/auto-complete-min.js') }}"></script>
    <script src="{{ asset('build/js/autocompleteCustomHome.js') }}"></script>
{% endblock %}