{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    <div class="container mb-2 mt-2">
        {{ render(controller('App\\Controller\\Front\\RenderController::getHeader')) }}
    </div>
    <div class="mainTitle">
        <div class="container">
            <h1>{{ client.legalInformation.companyName }}</h1>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="informations">
                    <div class="text-center">
                        <h2>{{ 'professionalProfile.companyInformation' | trans }}</h2>
                    </div>
                    <div id="telephone" class="item">
                        <h3>{{ 'professionalProfile.phone' | trans }}</h3>
                        <div>
                            <p id="telephone-surtax">
                                <b>
                                    <i class="fa fa-phone" aria-hidden="true"></i> :
                                    <a href="tel:{{ number }}">{{ number }}</a>
                                </b>
                                <small>*</small>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <h3>{{ 'professionalProfile.companyName' | trans }}</h3>
                        <p>
                            <strong>{{ client.legalInformation.companyName }}</strong>
                        </p>
                    </div>
                    <div class="item adresse">
                        <h3>{{ 'professionalProfile.adress' | trans }}</h3>
                        <p>
                            {{ client.location.address }} <br>
                            {{ client.location.postalCode }} <br>
                            {{ client.location.city }} <br>
                            <a href="#nav-contact-tab"
                               onclick="$('#nav-contact-tab').tab('show')">
                                {{ 'professionalProfile.seePlan' | trans }}
                            </a>
                        </p>
                    </div>
                    <div class="item">
                        <h3>{{ 'professionalProfile.mail' | trans }}</h3>
                        <p>
                            <a class="contact_pro">Contact</a>
                        </p>
                    </div>
                    {% if client.contact.webSite %}
                        <div class="item">
                            <h3>{{ 'professionalProfile.webSite' | trans }}</h3>
                            <p>
                                <a rel="nofollow" href="https://{{ client.contact.webSite }}"
                                   target="new">{{ client.contact.webSite }}</a>
                            </p>
                        </div>
                    {% endif %}
                    {% if client.managers.companyManager %}
                        <div class="item">
                            <h3>{{ 'professionalProfile.companyManager' | trans }}</h3>
                            <p>{{ client.managers.companyManager }}</p>
                        </div>
                    {% endif %}
                    {% if client.managers.salesManager %}
                        <div>
                            <h3>{{ 'professionalProfile.salesManager' | trans }}</h3>
                            <p>{{ client.managers.salesManager }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div id="numero-link"><a href="tel:{{ number }}">{{ number }}</a></div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12"
                         id="numero-surtaxe">{{ 'professionalProfile.explainTax' | trans }}
                        <a href="http://mise-en-relation.svaplus.fr" rel="noindex,nofollow"
                           target="new">{{ 'professionalProfile.whyThisNumber' | trans }}</a>
                    </div>
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link text-center" id="nav-allowance-tab" data-toggle="tab"
                                   href="#nav-allowance" role="tab" aria-controls="nav-home"
                                   aria-selected="true">{{ 'professionalProfile.allowance' | trans }}</a>
                                <a class="nav-item nav-link text-center" id="nav-presentation-tab" data-toggle="tab"
                                   href="#nav-presentation" role="tab" aria-controls="nav-profile"
                                   aria-selected="false">{{ 'professionalProfile.presentation' | trans }}</a>
                                <a class="nav-item nav-link text-center" id="nav-contact-tab" data-toggle="tab"
                                   href="#nav-contact" role="tab" aria-controls="nav-contact"
                                   aria-selected="false">{{ 'professionalProfile.contact' | trans }}</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-allowance" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div>
                                    <h3>activités</h3>
                                    <div class="checkboxCascade">
                                        {{ include('parts/professionalProfile/cascadeView.html.twig', {'entities':activities}) }}
                                    </div>
                                    <h3>Zones desservies</h3>
                                    <div class="checkboxCascade">
                                        {{ include('parts/professionalProfile/cascadeView.html.twig', {'entities':servedZones}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-presentation" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <div class="tabs">
                                    {% if client.legalInformation.workforceNbr %}
                                        <div>
                                            <h3>{{ 'professionalProfile.workforce' | trans }}</h3>
                                            <p>{{ client.legalInformation.workforceNbr }}</p>
                                        </div>
                                    {% endif %}

                                    {% if client.equipment.vehiclesNbr %}
                                        <div>
                                            <h3>{{ 'professionalProfile.vehiclesNbr' | trans }}</h3>
                                            <p>{{ client.equipment.vehiclesNbr }}</p>
                                        </div>
                                    {% endif %}

                                    {% if client.legalInformation.establishmentsNbr %}
                                        <div>
                                            <h3>{{ 'professionalProfile.establishmentsNbr' | trans }}</h3>
                                            <p>{{ client.legalInformation.establishmentsNbr }}</p>
                                        </div>
                                    {% endif %}

                                    {% if client.legalInformation.turnover %}
                                        <div>
                                            <h3>{{ 'professionalProfile.turnover' | trans }}</h3>
                                            <p>{{ client.legalInformation.turnover }}</p>
                                        </div>
                                    {% endif %}

                                    {% if client.equipment.materials %}
                                        <div>
                                            <h3>{{ 'professionalProfile.materials' | trans }}</h3>
                                            <p>{{ client.equipment.materials }}</p>
                                        </div>
                                    {% endif %}

                                    {% if client.about.services %}
                                        <div>
                                            <h3>{{ 'professionalProfile.services' | trans }}</h3>
                                            <p>{{ client.equipment.materials }}</p>
                                        </div>
                                    {% endif %}
                                    <!-- IMAGES -->
                                    <div>
                                        <h3>Photos</h3>
                                        <p>Information non renseignée</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                 aria-labelledby="nav-contact-tab">
                                <div id="google_maps">
                                    <div id="gmap_canvas">
                                        <iframe frameborder="0"
                                                width="100%"
                                                height="400px"
                                                src="https://www.google.com/maps/embed/v1/place?q={{ client.location.address~'+'~client.location.postalCode~'+'~client.location.city }}&amp;key=AIzaSyBK7GU60p940g2WsTBsiamLklxzVsOyBKY"></iframe>
                                        <!--&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>-->
                                    </div>
                                </div>
                                <form class="form_contact"
                                      action="{{ path('_professional_profile',{'cnSlug':client.legalInformation.slug}) }}"
                                      method="post">
                                    <fieldset>
                                        <legend>{{ 'newSubscribers.legend' | trans }}</legend>
                                        <div class="form-group">
                                            {{ form_start(form) }}
                                            {{ form_row(form.name) }}
                                            {{ form_row(form.email) }}
                                            {{ form_row(form.message) }}
                                            {{ form_row(form.antispam) }}
                                            <div class="text-right">
                                                <button type="submit"
                                                        class="btn btn-success">{{ 'professionalProfile.form.submit' | trans }}</button>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="m-2"></div>
                        <div>
                            <span class="arcep-hidden-phone mt-5">
                                <div class="numero-arcep numero-majore">
                                    <div class="num num-arcep">
                                        {{ number }}
                                    </div>
                                    <div class="contenu-arcep">
                                        {{ 'number.price' | trans }}
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'parts/professionalProfile/near.html.twig' %}
    </div>
    {{ render(controller('App\\Controller\\Front\\RenderController::getBottom')) }}
    {% include 'parts/professionalProfile/bottomMore.html.twig' %}
    {% include 'parts/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/script-min.js') }}"></script>
    <script>
        let el = document.getElementById('nav-contact-tab');
        el.click()
    </script>
{% endblock %}

{% block meta %}
    {% set activities = [
        client.coreBusiness.transport != null ? ( 'meta.professionalProfile.someTrad.transport'|trans),
        client.coreBusiness.logistics != null ? ( 'meta.professionalProfile.someTrad.logistics'|trans),
        client.coreBusiness.charter != null ? ( 'meta.professionalProfile.someTrad.charter'|trans),
        client.coreBusiness.travelers != null ? ( 'meta.professionalProfile.someTrad.travelers'|trans),
        client.coreBusiness.relocation != null ? ( 'meta.professionalProfile.someTrad.relocation'|trans),
        client.coreBusiness.storage != null ? ( 'meta.professionalProfile.someTrad.storage'|trans),
        client.coreBusiness.rentalWithDriver != null ? ( 'meta.professionalProfile.someTrad.rentalWithDriver'|trans),
        client.coreBusiness.taxis != null ? ( 'meta.professionalProfile.someTrad.taxis'|trans)
    ] %}

    {% set activitiesFormated = '' %}

    {% for a in activities %}
        {% if a != null %}
            {% set activitiesFormated = activitiesFormated ~ a ~ ', ' %}
        {% endif %}
    {% endfor %}

    <link rel="icon" href="{{ asset('build/img/front/icons/favicon-32x32.ico') }}">
    <title>{{ client.legalInformation.corporateName }} - {{ client.location.address }} - {{ domain.domain }}</title>
    <meta name="description"
          content="{% trans
              with {
              '__SOCIETY__': client.legalInformation.corporateName,
              '__ADDRESS__': client.location.address,
              '__ACTIVITIES__': activitiesFormated,
              '__URI__': app.request.uri
              }
              from 'messages' %}meta.professionalProfile.description{% endtrans %}">
    <meta name="keywords"
          content="{{ client.legalInformation.corporateName }}, {{ activitiesFormated }} {{ client.location.location.__toString }}, contact, téléphone">
    <meta property="og:title"
          content="{{ client.legalInformation.corporateName }} - {{ client.location.address }} - {{ app.request.uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:image" content="{{ asset('build/img/front/logo-transport-international-190x190.png') }}"/>
    <meta property="og:image:width" content="190"/>
    <meta property="og:image:height" content="190"/>
    <meta property="og:site_name" content="{{ 'meta.professionalProfile.siteName' | trans }}"/>
    <meta property="og:description" content="{% trans
        with {
        '__SOCIETY__': client.legalInformation.corporateName,
        '__ADDRESS__': client.location.address,
        '__ACTIVITIES__': activitiesFormated,
        '__URI__': app.request.uri
        }
        from 'messages' %}meta.professionalProfile.description{% endtrans %}"/>
    <link rel="canonical" href="{{ app.request.uri }}"/>
{% endblock %}