<nav id="nav-custom" class="shadow-custom">

    <div class="button {{ routeMatched('/admin/client') ? 'selected' }}"
         onclick="toggle(this)">
        Clients
    </div>
    <ul {{ routeMatched('/admin/client') ? null : 'hidden' }} >
        <li class="button {{ routeMatched('/admin/clients') ? 'selected' }}">
            <a href="{{ path('_admin_client_index') }}">Tous les clients</a>
        </li>
        <li class="button {{ routeMatched('/admin/client/nouveau-client') ? 'selected' }}">
            <a href="{{ path('_admin_client_new') }}">Nouveau client</a>
        </li>
    </ul>

    <div class="button {{ routeMatched('/admin/zones-desservies') ? 'selected' }}"
         onclick="toggle(this)">
        Localisations
    </div>
    <ul {{ routeMatched('/admin/zones-desservies') ? null : 'hidden' }} >
        <li class="button {{ routeMatched(path('_admin_served_zone_index')) ? 'selected' }}">
            <a href="{{ path('_admin_served_zone_index') }}">Toutes les zones</a>
        </li>
        <li class="button {{ routeMatched(path('_admin_served_zone_new')) ? 'selected' }}">
            <a href="{{ path('_admin_served_zone_new') }}">Nouvelle zone</a>
        </li>
    </ul>

    <div class="button {{ routeMatched('/admin/activites') ? 'selected' }}"
         onclick="toggle(this)">
        Activités
    </div>
    <ul {{ routeMatched('/admin/activites') ? null : 'hidden' }} >
        <li class="button {{ routeMatched(path('_admin_activities_index')) ? 'selected' }}">
            <a href="{{ path('_admin_activities_index') }}">Toutes les activités</a>
        </li>
        <li class="button {{ routeMatched(path('_admin_activities_new')) ? 'selected' }}">
            <a href="{{ path('_admin_activities_new') }}">Nouvelle activité</a>
        </li>
    </ul>

    <div class="button {{ routeMatched('/admin/utilisateurs') ? 'selected' }}"
         onclick="toggle(this)">
        Utilisateurs
    </div>
    <ul {{ routeMatched('/admin/utilisateurs') ? null : 'hidden' }} >
        <li class="button {{ routeMatched(path('_admin_users_index')) ? 'selected' }}">
            <a href="{{ path('_admin_users_index') }}">Toutes les utilisateurs</a>
        </li>
        <li class="button {{ routeMatched(path('_admin_users_new')) ? 'selected' }}">
            <a href="{{ path('_admin_users_new') }}">Nouvel utilisateur</a>
        </li>
    </ul>

    <div class="button {{ routeMatched('/admin/domaines') ? 'selected' }}"
         onclick="toggle(this)">
        Domaines
    </div>
    <ul {{ routeMatched('/admin/domaines') ? null : 'hidden' }} >
        <li class="button {{ routeMatched(path('_admin_domain_index')) ? 'selected' }}">
            <a href="{{ path('_admin_domain_index') }}">Tous les domaines</a>
        </li>
        <li class="button {{ routeMatched(path('_admin_domain_new')) ? 'selected' }}">
            <a href="{{ path('_admin_domain_new') }}">Nouveau domaine</a>
        </li>
    </ul>

    <div class="button {{ routeMatched('/admin/manager') ? 'selected' }}"
         onclick="toggle(this)">
        Outils
    </div>
    <ul {{ routeMatched('/admin/manager') ? null : 'hidden' }} >
        <li class="button {{ routeMatched(path('_manager_index')) ? 'selected' }}">
            <a href="{{ path('_manager_index') }}">Toutes les outils</a>
        </li>
    </ul>

</nav>