{% macro nav() %}

    <!-- affrètement = 59 -->
    <li class="main-li">{{ dropdownMenu(59, ('header.form.charter'|trans)) | raw }}</li>

    <!-- Transporteur de Marchandises = 4 --><!-- Transport Express = 87 -->
    <li class="main-li">{{ dropdownMenu(4, 'Transport', [], {
            'diverseTransportationOfGoods' : dropdownMenu(87, 'Transport Express', [], null, true)
        }) | raw }}</li>

    <!-- Transport de Voyageurs = 100 -->
    <li class="main-li">{{ dropdownMenu(100, 'Voyageurs') | raw }}</li>

    <!-- Déménageur = 91 -->
    <li class="main-li">{{ dropdownMenu(91, 'Déménagement') | raw }}</li>

    <!-- Location avec chauffeur = 66 -->
    <li class="main-li">{{ dropdownMenu(66, 'Location') | raw }}</li>

    <!-- Logistique = 73 -->
    <li class="main-li">{{ dropdownMenu(73, 'Logistique') | raw }}</li>

    <!-- Taxi = 108 -->
    <li class="main-li">{{ dropdownMenu(108, 'Taxis') | raw }}</li>

{% endmacro %}

{% import _self as header %}

<div id="header" class="row mt-2">
    <div id="logo" class="col-12 col-md-3 text-center">
        <a href="{{ path('home') }}">
            <img src="{{ asset('build/img/front/logo-transport-international.png') }}"
                 alt="logo transport international">
        </a>
    </div>
    <div class="col-12 col-md-9 mt-3">
        <nav class="dropdown text-center">
            <ul class="header-nav m-auto">
                {% set key = '4z54zd5z4da.'~app.request.get('_locale') %}
                {% if isCached(key)%}
                    {{ getCache(key) }}
                {% else %}
                    {{ setCache(key, header.nav()) }}
                {% endif %}
            </ul>
            <hr class="mr-4 ml-4">
        </nav>
    </div>
</div>
