{% macro nav() %}
    <li class="main-li">{{ dropdownMenu(59, (getActivityobject(59).__toString  | split(' ')[0])) | raw }}</li>
    <li class="main-li">{{ dropdownMenu(4, (getActivityobject(4).__toString  | split(' ')[0]), [], {
            'diverseTransportationOfGoods' : dropdownMenu(87, 'Transport Express', [], null, true)
        }) | raw }}</li>
    <li class="main-li">{{ dropdownMenu(100, (getActivityobject(100).__toString  | split(' ')[0])) | raw }}</li>
    <li class="main-li">{{ dropdownMenu(91, (getActivityobject(91).__toString  | split(' ')[0])) | raw }}</li>
    <li class="main-li">{{ dropdownMenu(66, (getActivityobject(66).__toString  | split(' ')[0])) | raw }}</li>
    <li class="main-li">{{ dropdownMenu(73, (getActivityobject(73).__toString  | split(' ')[0])) | raw }}</li>
    <li class="main-li">{{ dropdownMenu(108, (getActivityobject(108).__toString | split(' ')[0])) | raw }}</li>
{% endmacro %}

{% import _self as header %}
<div id="header" class="row mt-2">
    <div id="logo" class="col-12 col-md-3 text-center d-none d-lg-block">
        <a href="{{ path('home') }}">
            <img src="{{ asset('build/img/front/logo-transport-international.png') }}"
                 alt="logo transport international">
        </a>
    </div>
    <div class="col-12 col-lg-9 mt-3">
        <nav class="dropdown text-center">
            <ul class="header-nav m-auto">
                {% set key = '4z54zd5z4da.'~app.request.get('_locale') %}
                {% if isCached(key)%}
                    {{ getCache(key) }}
                {% else %}
                    {{ setCache(key, header.nav()) }}
                {% endif %}
            </ul>
            <hr class="mr-4 ml-4">
        </nav>
    </div>
</div>
