{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ include('parts/top.html.twig') }}
    <div class="container mt-2 mb-2">
        {{ render(controller('App\\Controller\\Front\\RenderController::getHeader')) }}
    </div>
    <div class="mainTitle">
        <div class="container">
            <h1>{{ 'register.mainTitle' | trans }}</h1>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="container mt-5">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 form-group input-group-sm">
                    {{ form_label(form.user.username, 'register.form.username'|trans) }}
                    {{ form_widget(form.user.username) }}
                </div>

                <div class="col-sm-12 col-md-6 form-group input-group-sm">
                    {{ form_label(form.user.password.password, 'register.form.password'|trans) }}
                    {{ form_widget(form.user.password.password) }}

                    {{ form_label(form.user.password.confirm, 'register.form.confirm'|trans) }}
                    {{ form_widget(form.user.password.confirm) }}
                </div>
            </div>
        </div>
        <hr class="m-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12 form-group input-group-sm">
                    {{ form_label(form.legalInformation.siret, 'register.form.siret'|trans) }}
                    {{ form_widget(form.legalInformation.siret) }}
                </div>
                <div class="col-sm-12 col-md-6 form-group input-group-sm">
                    {{ form_label(form.legalInformation.corporateName, 'register.form.legalForm'|trans) }}
                    {{ form_widget(form.legalInformation.corporateName) }}

                    {{ form_label(form.legalInformation.companyName, 'register.form.companyName'|trans) }}
                    {{ form_widget(form.legalInformation.companyName) }}

                    {{ form_label(form.legalInformation.legalForm, 'register.form.legalForm'|trans) }}
                    {{ form_widget(form.legalInformation.legalForm) }}
                </div>
                <div class="col-sm-12 col-md-6 form-group input-group-sm">
                    {{ form_label(form.legalInformation.turnover, 'register.form.turnover'|trans) }}
                    {{ form_widget(form.legalInformation.turnover) }}

                    {{ form_label(form.legalInformation.workforceNbr, 'register.form.workforce'|trans) }}
                    {{ form_widget(form.legalInformation.workforceNbr) }}

                    {{ form_label(form.legalInformation.establishmentsNbr, 'register.form.establishments'|trans) }}
                    {{ form_widget(form.legalInformation.establishmentsNbr) }}
                </div>
            </div>
            <div class="text-right">
                <input type="submit" value="soumettre" class="btn btn-success">
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {{ render(controller('App\\Controller\\Front\\RenderController::getBottom')) }}

    {% include 'parts/footer.html.twig' %}

{% endblock %}

{% block meta %}
    <link rel="icon" href="{{ asset('build/img/front/icons/favicon-32x32.ico') }}">
    <title>{{ 'meta.register.title' | trans }}</title>
    <meta name="description" content="{{ 'meta.register.description' | trans }}">
    <meta name="keywords" content="{{ 'meta.register.keywords' | trans }}">

    <meta property="og:title" content="{{ 'meta.register.og.title' | trans }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ asset('build/img/front/logo-transport-international-190x190.png') }}" />
    <meta property="og:image:width" content="190" />
    <meta property="og:image:height" content="190" />

    <meta property="og:site_name" content="{{ 'meta.register.og.site_name' | trans }}" />
    <meta property="og:description" content="{{ 'meta.register.og.description' | trans }}" />
    <link rel="canonical" href="https://www.transport-international.com/inscription" />
{% endblock %}