{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/top.html.twig' %}
    <div class="container mb-2 mt-2">
        {{ render(controller('App\\Controller\\RenderController::getHeader')) }}
    </div>
    <div class="mainTitle">
        <div class="container">
            <h1>{{ 'search.mainTitle' | trans }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 mt-5">
                <div id="affiner_recherche">
                    <h2>Affiner ma recherche</h2>
                    <h3>Cette société est basée à</h3>
                    <form method="get" action="{{ path('_search_geturl') }}" id="customerForm">
                        <div class="form-group">
                            <select class="form-control input-group-sm" name="fromCountry" id="fromCountry"
                                    title="{{ 'search.form.title.location' | trans }}">
                                <option selected="selected" value="null">Localisation</option>
                                <option value="all">toutes localisation</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}">{{ country.translation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control input-lg" name="fromDepartment" id="fromDept">
                                <option selected="selected" value="null">Département</option>
                                <option value="all">toutes localisation</option>
                            </select>
                        </div>

                        <h3>Cette société dessert</h3>
                        <div class="form-group">
                            <select class="form-control input-lg" name="toCountry" id="toCountry">
                                <option selected="selected" value="null">Localisation</option>
                                <option value="all">toutes localisation</option>
                                {% for country in countries %}
                                    <option   value="{{ country.id }}">{{ country.translation }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control input-lg" name="toDept" id="toDept">
                                <option selected="selected" value="null">Département</option>
                                <option value="all">toutes localisation</option>
                            </select>
                        </div>

                        <!-- Activité -->
                        <h3>Activité</h3>

                        <div class="form-group">
                            <select class="form-control input-lg" name="typeA" id="typeA">
                                <option value="null" selected="selected">Activité</option>
                                <option value="all">toutes Activité</option>
                                {% for activity in activities %}
                                    <option value="{{ activity.id }}">{{ activity.translation }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control input-lg" name="typeB" id="typeB">
                                <option selected="selected" value="null">Prestation</option>
                                <option value="all">toutes Prestation</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-lg" id="sendCustom">
                                Affiner ma recherche
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-8 mt-5">
                {% include 'searchResults.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if dataInjection is defined %}
        let dataInjection = {{ dataInjection | raw }};
        {% else %}
        let dataInjection = null;
        {% endif %}
    </script>
    <script src="{{ asset('build/js/auto-complete-min.js') }}"></script>
    <script src="{{ asset('build/js/autocompleteCustom.js') }}"></script>
{% endblock %}