{% extends 'backOffice/base/base_admin.html.twig' %}

{% block title %}Admin - Clients{% endblock %}

{% block header %}
    {{ include('backOffice/base/parts/header.html.twig',
        {"breadcrumb":[
            [path('_admin_client_index'), "Clients"]
        ]}) }}
{% endblock %}

{% block content %}
    <div class="form-group card-custom p-3">
        <h2 class="text-center">Filtres de recherche</h2>
        {{ form_start(searchForm) }}
        <div class="row">
            <div class="col-4">
                <h3 class="tinyTitleh2">Informations légales :</h3>
                {{ form_row(searchForm.corporateName, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.companyName, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.siret, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.legalForm, {"attr":{"class":"form-control form-control-sm"}}) }}
            </div>
            <div class="col-4">
                <h3 class="tinyTitleh2">Localisation :</h3>
                {{ form_row(searchForm.address, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.postalCode, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.city, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.location, {"attr":{"class":"form-control form-control-sm"}}) }}
            </div>
            <div class="col-4">
                <h3 class="tinyTitleh2">Contact :</h3>
                {{ form_row(searchForm.phone, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.fax, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.contact, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.webSite, {"attr":{"class":"form-control form-control-sm"}}) }}
            </div>
            <div class="col-4">
                <h3 class="tinyTitleh2">Divers :</h3>
                {{ form_row(searchForm.contract, {"attr":{"class":"form-control form-control-sm"}}) }}
                {{ form_row(searchForm.haveEmail, {"attr":{"class":"form-control form-control-sm"}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary col-12 mt-2">Filtrer</button>
        {{ form_end(searchForm) }}
    </div>
    <a href="{{ path('home') }}">Nouveau client</a>

    <div class="card-custom">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Entreprise</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for c in clients %}
                <tr>
                    <td>{{ c.legalInformation.corporateName }}</td>
                    <td>{{ c.location.location.translation }}</td>
                    <td>{{ c.user.username }}</td>
                    <td class="text-center">
                        <a href="{{ path('_admin_client_edit_legalInformation', {'clientId': c.id}) }}" title="Edition">
                            <i class="far fa-edit mr-2"></i>
                        </a>
                        {% if c.contract is not empty %}
                            <a href="{{ path('_admin_contract_index', {'client': c.id}) }}" title="Contracts">
                                <i class="fas fa-file-signature ml-2"></i>
                            </a>
                        {% endif %}
                        <a href="{{ path('_admin_client_delete', {'id': c.id}) }}" title="Supprimer" onclick="return confirm('Etes vous sur de vouloir supprimer  '+ '{{ c.legalInformation.corporateName }}'+' ?');">
                            <i class="far fa-trash-alt text-danger ml-2 mr-2"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination justify-content-center">
        {{ knp_pagination_render(clients) }}
    </div>
{% endblock %}

