{% extends 'backOffice/base-dashboard.html.twig' %}

{% block title %}User{% endblock %}

{% block breadcrumb %}
    <span class="home"><a href="{{ path('_admin_home') }}">DASHBOARD</a></span>
    <span>/</span>
    <span><a href="{{ path('_client_index') }}">ClIENT</a></span>
    <span>/</span>
    <span><a href="{{ path('_client_show', {'id':c.id}) }}">{{ c.legalInformation.corporateName }}</a></span>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">Informations légales</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Siret</th>
                                <td>{{ c.legalInformation.siret ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Companie</th>
                                <td>{{ c.legalInformation.corporateName ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Entreprise</th>
                                <td>{{ c.legalInformation.companyName ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Forme juridique</th>
                                <td>{{ c.legalInformation.legalForm ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Chiffre d'affaire</th>
                                <td>{{ c.legalInformation.turnover ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Nombre d'ouvriers</th>
                                <td>{{ c.legalInformation.workforceNbr ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Nombre d'établissements</th>
                                <td>{{ c.legalInformation.establishmentsNbr ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>slug</th>
                                <td>{{ c.legalInformation.slug ?? 'non renseigné' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">Utilisateur</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Mail</th>
                                <td>{{ c.user.username }}</td>
                            </tr>
                            <tr>
                                <th>Role</th>
                                <td>{{ c.user.role }}</td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td>{{ c.user.password }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">contact</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ c.contact.phone ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Fax</th>
                                <td>{{ c.contact.fax ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Contact</th>
                                <td>{{ c.contact.contact ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Site web</th>
                                <td>{{ c.contact.webSite ?? 'non renseigné' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">Managers</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Responsable de l'entreprise</th>
                                <td>{{ c.managers.companyManager }}</td>
                            </tr>
                            <tr>
                                <th>Responsable d'exploitation</th>
                                <td>{{ c.managers.operationsManager }}</td>
                            </tr>
                            <tr>
                                <th>Responsable commercial</th>
                                <td>{{ c.managers.salesManager }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">Localisation</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ c.location.address ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Code postale</th>
                                <td>{{ c.location.postalCode ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Ville</th>
                                <td>{{ c.location.city ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Localisation</th>
                                <td>{{ c.location.location.translation ?? 'non renseigné' }}</td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">Activité principale</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Transport</th>
                                <td class="text-center">{% if c.coreBusiness.transport == true %}<strong class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>logistique</th>
                                <td class="text-center">{% if c.coreBusiness.logistics == true %}<strong class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Transport</th>
                                <td class="text-center">{% if c.coreBusiness.charter == true %}<strong class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Transport voyageurs</th>
                                <td class="text-center">{% if c.coreBusiness.travelers == true %}<strong class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Déménagement</th>
                                <td class="text-center">{% if c.coreBusiness.relocation == true %}<strong class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Stockage</th>
                                <td class="text-center">{% if c.coreBusiness.storage == true %}<strong class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Location avec chauffeur</th>
                                <td class="text-center">{% if c.coreBusiness.rentalWithDriver == true %}<strong
                                            class="text-success">oui</strong>
                                    {% else %}<strong class="text-danger">non</strong>{% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">Equipements</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Nombre de vehicules</th>
                                <td>{{ c.equipment.vehiclesNbr ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>matériels</th>
                                <td>{{ c.equipment.materials ?? 'non renseigné' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card-custom">
                        <h2 class="h2-custom bg-dark text-white">A propos</h2>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Certification iso</th>
                                <td>{{ c.about.isoCertification ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Sommaire</th>
                                <td>{{ c.about.summary ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Rayon d'action</th>
                                <td>{{ c.about.rangeAction ?? 'non renseigné' }}</td>
                            </tr>
                            <tr>
                                <th>Services</th>
                                <td>{{ c.about.services ?? 'non renseigné' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#<a href="{{ path('user_index') }}">back to list</a>#}
    {##}
    {#<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>#}

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
