<div id="footer">
    <div class="container">
        <div class="row justify-content-center">
            <nav>
                <ul class="form-inline">
                    <li>
                        <a href="{{ path('_legal_information') }}"
                           title="{{ 'footer.legelInformation' | trans }}">
                            {{ 'footer.legelInformation' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_pricing') }}"
                           title="{{ 'footer.price' | trans }}">
                            {{ 'footer.price' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_register') }}">
                            {{ 'footer.subscription' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact@transport-international.com">
                            {{ 'footer.contact' | trans }}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="guides" class="row">
            <h4 class="col-12 text-center">{{ 'footer.guides.h4' | trans }}</h4>
            <aside class="col-12 col-md-6 col-lg-3 text-center">
                <nav>
                    <ul>
                        <li><a href="{{ 'footer.guides.guides.transportOfGoods.url' | trans }}"
                               title="{{ 'footer.guides.guides.transportOfGoods.title' | trans }}">{{ 'footer.guides.guides.transportOfGoods.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.mover.url' | trans }}"
                               title="{{ 'footer.guides.guides.mover.title' | trans }}">{{ 'footer.guides.guides.mover.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.traveler.url' | trans }}"
                               title="{{ 'footer.guides.guides.traveler.title' | trans }}">{{ 'footer.guides.guides.traveler.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.fret.url' | trans }}"
                               title="{{ 'footer.guides.guides.fret.title' | trans }}">{{ 'footer.guides.guides.fret.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.storage.url' | trans }}"
                               title="{{ 'footer.guides.guides.storage.title' | trans }}">{{ 'footer.guides.guides.storage.html' | trans }}</a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <aside class="col-12 col-md-6 col-lg-3 text-center">
                <nav>
                    <ul>
                        <li><a href="{{ 'footer.guides.guides.transportLuxembourg.url' | trans }}"
                               title="{{ 'footer.guides.guides.transportLuxembourg.title' | trans }}">{{ 'footer.guides.guides.transportLuxembourg.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.moverLuxembourg.url' | trans }}"
                               title="{{ 'footer.guides.guides.moverLuxembourg.title' | trans }}">{{ 'footer.guides.guides.moverLuxembourg.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.autocoarLuxembourg.url' | trans }}"
                               title="{{ 'footer.guides.guides.autocoarLuxembourg.title' | trans }}">{{ 'footer.guides.guides.autocoarLuxembourg.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.storageLuxembourg.url' | trans }}"
                               title="{{ 'footer.guides.guides.storageLuxembourg.title' | trans }}">{{ 'footer.guides.guides.storageLuxembourg.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.fretLuxembourg.url' | trans }}"
                               title="{{ 'footer.guides.guides.fretLuxembourg.title' | trans }}">{{ 'footer.guides.guides.fretLuxembourg.html' | trans }}</a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <aside class="col-12 col-md-6 col-lg-3 text-center">
                <nav>
                    <ul>
                        <li><a href="{{ 'footer.guides.guides.transportSwisse.url' | trans }}"
                               title="{{ 'footer.guides.guides.transportSwisse.title' | trans }}">{{ 'footer.guides.guides.transportSwisse.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.moverSwisse.url' | trans }}"
                               title="{{ 'footer.guides.guides.moverSwisse.title' | trans }}">{{ 'footer.guides.guides.moverSwisse.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.autocoarSwisse.url' | trans }}"
                               title="{{ 'footer.guides.guides.autocoarSwisse.title' | trans }}">{{ 'footer.guides.guides.autocoarSwisse.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.storageSwisse.url' | trans }}"
                               title="{{ 'footer.guides.guides.storageSwisse.title' | trans }}">{{ 'footer.guides.guides.storageSwisse.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.fretSwisse.url' | trans }}"
                               title="{{ 'footer.guides.guides.fretSwisse.title' | trans }}">{{ 'footer.guides.guides.fretSwisse.html' | trans }}</a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <aside class="col-12 col-md-6 col-lg-3 text-center">
                <nav>
                    <ul>
                        <li><a href="{{ 'footer.guides.guides.transportBelgium.url' | trans }}"
                               title="{{ 'footer.guides.guides.transportBelgium.title' | trans }}">{{ 'footer.guides.guides.transportBelgium.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.moverBelgium.url' | trans }}"
                               title="{{ 'footer.guides.guides.moverBelgium.title' | trans }}">{{ 'footer.guides.guides.moverBelgium.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.autocoarBelgium.url' | trans }}"
                               title="{{ 'footer.guides.guides.autocoarBelgium.title' | trans }}">{{ 'footer.guides.guides.autocoarBelgium.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.storageBelgium.url' | trans }}"
                               title="{{ 'footer.guides.guides.storageBelgium.title' | trans }}">{{ 'footer.guides.guides.storageBelgium.html' | trans }}</a>
                        </li>
                        <li><a href="{{ 'footer.guides.guides.fretBelgium.url' | trans }}"
                               title="{{ 'footer.guides.guides.fretBelgium.title' | trans }}">{{ 'footer.guides.guides.fretBelgium.html' | trans }}</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="row justify-content-center">
            <p>
                Réalisation
                <a href="http://www.webdesign-graphiste.com/" target="new">Webdesign Graphiste</a>
                - Copyright © {{ "now"|date("Y") }}
            </p>
        </div>
    </div>
</div>