<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <span>{{ 'top.welcome' | trans }} - </span>
                <a href="https://plus.google.com/113123040539212368916?prsrc=3" rel="publisher" target="_top">
                    <img src="{{ asset('build/img/front/icons/gplus-16.png') }}" alt="Google+">
                </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <nav>
                    <ul>
                        <li>{{ 'top.account.myAccount'|trans }} :</li>
                        <li>
                            {% if app.user is not null %}
                                <a href="{{ path('account_legalInformation') }}">{{ 'top.account.myAccount'|trans }}</a>
                            {% else %}
                                <a href="{{ path('_register') }}">{{ 'top.account.register'|trans }}</a>
                            {% endif %}
                        </li>
                        |
                        <li>
                            {% if app.user is not null %}
                                <a href="{{ path('logout') }}" rel="nofollow"
                                   class="connect"
                                   title="{{ 'top.log.logout.title'|trans }}">{{ 'top.log.logout.html'|trans }}</a>
                            {% else %}
                                <a href="{{ path('_login') }}" rel="nofollow"
                                   class="connect"
                                   title="{{ 'top.log.login.title'|trans }}">{{ 'top.log.login.html'|trans }}</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-md-4 text-center">
                <nav>
                    <ul>
                        {{ render(controller('App\\Controller\\Front\\RenderController::getDomains', {'route': app.request.get('_route')})) }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>